<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			SymBNB -
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="/symbnb/public/css/bootstrap.min.css">
			<link rel="stylesheet" href="/symbnb/public/css/app.css">

		{% endblock %}
	</head>
	<body>

		{% include 'partials/header.html.twig' %}


		{% block body %}{% endblock %}
		<script src=" /symbnb/public/js/jquery.min.js"></script>
		<script src="/symbnb/public/js/popper.min.js"></script>
		<script src="/symbnb/public/js/bootstrap.min.js"></script>
		{% block javascripts %}{% endblock %}
	</body>
	{% include 'partials/footer.html.twig' %}
</html>
